a:link {color: cyan;}
a:visited {color: cyan;}
a:hover {color: green;}
a:active {color: red;}
div {
        width: 660px;
		margin: auto;
    }
/* Media query for phone screens */
@media only screen and (max-width: 800px)
{
   div {
         width: 100%;
        }
    }

body, h1, h2, h3, h4, h5, h6
	{  font-family: Verdana, Geneva, sans-serif;
		background-color:#152030;
		color:#EEEEEE;
	}
head
	{

	}
#courier
	{	font-family: monospace}
.titolo
	{	border-style:dotted;
		border-color:yellow;
	}
.categorie
	{	text-align:center;
	}
